body {
    background: #f5d9d5;
    font-family: "Nunito", sans-serif;
}

.blurb h2 {
    color: #ea1c2c;
    font-weight: 100;
    font-size: 2.5rem;
}

.blurb p {
    color: #f498b8;
    line-height: 2;
    font-size: 1.123rem;
}

.content {
    margin-top: 100px;
    margin-bottom: 100px;
}

#mainNavbar {
    font-size:  1.5rem;
    font-weight: 50;
}

#mainNavbar .nav-link {
    color:white;
}

#mainNavbar .nav-link:hover {
    color:#ea1c2c;
}

#mainNavbar .navbar-brand {
    color: #ea1c2c;
    font-size: 1.5rem;
}

#headingGroup span {
    color: #ea1c2c;
}

#headingGroup h1 {
font-weight: 100;
font-size: 4rem;
}

.navbar.scrolled {
    background: rgb(222,192,222);
    transition: background 1500ms;
}

@media (max-width: 1200px) {
    #headingGroup h1 {
        font-weight: 100;
        font-size: 3rem;
    }
}
